.Sonia {
  display: flex;
  flex-direction: column;
  height: 92vh;
  position: relative;
  background: radial-gradient(circle, #89BCFF 0%, rgba(255,255,255,1) 60%);
  filter: blur(0px);
  backdrop-filter: blur(20px); 
  margin: 0;
}

#header{
  background-color: #89BCFF;
  height: 8vh;
}

body{
  margin: 0;
}

.image-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16rem;
}

.messages-container {
  display: flex;
  flex-direction: column; 
  gap: 0.5rem; 
  flex-grow: 1;
  overflow-y: auto;
  padding: 1rem;
  margin-bottom: 6rem;
  font-family: 'Inter', sans-serif;
}

.message {
  display: inline-block; 
  border-radius: 5px;
  padding: 0.5rem 1rem; 
  font-family: 'Inter', sans-serif; 
  font-size: 1rem; 
  max-width: 70%; 
  word-wrap: break-word; 
  overflow-wrap: break-word;
  margin: 0; 
}

.message.sonia {
  background-color: #d9dede;
  align-self: flex-start; 
  text-align: left;
}

.message.user {
  background-color: #007BFF; 
  color: white; 
  align-self: flex-end; 
  text-align: right;
}